* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  color: #171717;
}

/* home section */

#main-header {
  text-align: left;
  max-width: 60%;
}

#main-header h1,
p,
button {
  margin: 0.6rem;
}

#home-page img {
  width: 500px;
  margin-top: 64px;
}

#home-page {
  background-color: #f7f7f7;
  margin-top: 196px;
}

#main-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-page h1 {
  font-size: 2.9rem;
  letter-spacing: -1px;
  color: #171717;
}
#home-page p {
  font-size: 1rem;
  color: #171717;
}
#home-page button {
  border: none;
  color: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  transition: 0.3s;
  background: linear-gradient(235deg, #1644d5, #171717);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

/* center container */

.container {
  width: 80%;
  margin: 0 auto;
}

.container-small {
  width: 30%;
  margin: 0 auto;
}

/* gallery page */

#header-products {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f7f7f7;
  padding-top: 240px;
}

#header-products h2 {
  font-size: 2.4rem;
  letter-spacing: -1px;
}

#header-products p {
  font-size: 1rem;
}

#gallery-page {
  background-color: #171717;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  color: #f7f7f7;
  margin-top: 128px;
  margin-bottom: 128px;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.gallery h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0.8rem;
  font-weight: 700;
}

.gallery p {
  margin: 0;
  margin-bottom: 1.5rem;
  max-width: 24rem;
  font-size: 1rem;
}

.price {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.cta {
  color: #f7f7f7;
  padding-bottom: 240px;
  font-size: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

.cta a {
  color: #0099ff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-style: italic;
}

.cta a:hover {
  color: #56b3f1;
}

/* reviews section */

#reviews-section {
  margin-top: 240px;
}

#header-reviews {
  text-align: center;
  margin-bottom: 128px;
}

#header-reviews h2 {
  font-size: 2.4rem;
  letter-spacing: -1px;
}

#header-reviews p {
  font-size: 1rem;
}

.gallery-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 240px;
}

.card {
  border: 0.5px solid #17171715;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: default;
  transition: 0.3s;
  border: 0.5px solid #17171715;
}

.card img {
  border-radius: 150px;
  width: 150px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* contact section */

#contact-page {
  background-color: #171717;
  color: #f7f7f7;
}
#contact-page h2 {
  font-size: 2.4rem;
  padding-top: 240px;
}
#contact-page p {
  font-size: 1rem;
}

form label {
  display: block;
  text-transform: uppercase;
  text-align: start;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

form input,
form textarea {
  border: none;
  padding: 1rem;
  width: 100%;
  resize: none;
}

form input:focus,
form textarea:focus {
  outline: none;
  background-color: #f9f9f9f3;
}

form button {
  width: 100%;
  cursor: pointer;
}

#small-header h2 {
  text-align: center;
  margin-bottom: 64px;
  letter-spacing: -1px;
}

#send-message {
  text-align: center;
}

.btn {
  background-color: #f7f7f7;
  border: none;
  color: #f7f7f7;
  border-radius: 15px;
  padding: 8px;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background: linear-gradient(235deg, #1644d5, #1296ca);
  background-size: 400% 400%;
  transition: 0.3s;

  -webkit-animation: AnimationBtn 7s ease infinite;
  -moz-animation: AnimationBtn 7s ease infinite;
  animation: AnimationBtn 7s ease infinite;
}

.muted {
  font-size: 0.6rem;
  color: #f9f9f99d;
  padding-bottom: 240px;
  font-style: italic;
}

/* footer section */

footer {
  background-color: #f9f9f9;
  color: #171717;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer p {
  margin: 0;
  padding-bottom: 8px;
}

/* hovers */

.btn:hover {
  font-size: 1.1rem;
  transition: 0.3s;
  padding: 10px;
}

#home-page button:hover {
  font-size: 1.1rem;
  padding: 12px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}

/* Animation keyframes */

@-webkit-keyframes AnimationBtn {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 36%;
  }
  100% {
    background-position: 0% 65%;
  }
}
@-moz-keyframes AnimationBtn {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 36%;
  }
  100% {
    background-position: 0% 65%;
  }
}
@keyframes AnimationBtn {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 36%;
  }
  100% {
    background-position: 0% 65%;
  }
}
